body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eceeef;
}

.track-result-box{
  background: white;
  padding: 20px;
  width: 70%;
  margin: 5% 15%;
  text-align: center;
}

.no-results{
  text-align: center;
  margin: 5%;
  padding: 10%;
}

.track-display{
  float: left;
  width: 40%;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  height: 100vh;
  overflow: scroll;
}

.track-lyrics {
  margin-top: 5%;
}

.track-album {
  margin-top: 3%;
}

.video-detail{
  float: right;
  width: 46%;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: 5%; */
  height: 100vh;
  overflow: scroll;
}

.video-list-item{
  padding: 4%;
  text-align: center;
}

.list-group-item{
  cursor: pointer;
}
