body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.welcome{
  background-color: rgba(236, 238, 239, .75);
}

.lyrics{
  height: 100vh;
  background-image: url("./images/dj_set_index.png");
  background-size:  cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: auto;
}

.track-result-box{
  background: white;
  padding: 20px;
  width: 70%;
  margin: 5% 15%;
  text-align: center;
  background-color: rgba(236, 238, 239, .85);
}

.no-results{
  color: antiquewhite;
  text-align: center;
  margin: 5%;
  padding: 10%;
}

.song-details{
  background-image: url("./images/spiration_dark.png");
  background-repeat: repeat;
  background-size:  cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: auto;
}

.track-display{
  float: left;
  width: 40%;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(236, 238, 239, .65);
}

.track-lyrics {
  margin-top: 5%;
}

.track-album {
  margin-top: 3%;
}

.video-detail{
  float: right;
  width: 46%;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.video-list-item{
  padding: 4%;
  text-align: center;
}

.list-group-item{
  cursor: pointer;
  background-color: rgba(236, 238, 239, .65);
}
